In [42]:
# import libraries
import pandas as pd

# Read data
df1 = pd.read_csv('divvy/202301-divvy-tripdata.csv')
df2 = pd.read_csv('divvy/202202-divvy-tripdata.csv')
df3 = pd.read_csv('divvy/202203-divvy-tripdata.csv')
df4 = pd.read_csv('divvy/202204-divvy-tripdata.csv')
df5 = pd.read_csv('divvy/202205-divvy-tripdata.csv')
df6 = pd.read_csv('divvy/202206-divvy-tripdata.csv')
df7 = pd.read_csv('divvy/202207-divvy-tripdata.csv')
df8 = pd.read_csv('divvy/202208-divvy-tripdata.csv')
df9 = pd.read_csv('divvy/202209-divvy-tripdata.csv')
df10 = pd.read_csv('divvy/202210-divvy-tripdata.csv')
df11 = pd.read_csv('divvy/202211-divvy-tripdata.csv')
df12 = pd.read_csv('divvy/202212-divvy-tripdata.csv')

#combine all dataframes
df_combined = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)

In [39]:
# drop duplicates and any nulls
df_combined = df_combined.dropna()
df_combined = df_combined.drop_duplicates()

In [40]:
#ensure started_ad and ended_at are in correct format to calculate trip duration
df_combined['started_at'] = pd.to_datetime(df_combined['started_at'])
df_combined['ended_at'] = pd.to_datetime(df_combined['ended_at'])

# calculate the trip duration in seconds as time_diff
df_combined['time_diff'] = (df_combined['ended_at'] - df_combined['started_at']).dt.total_seconds()

In [41]:
# set dayofweek from start_at dates where Monday = 1 and Sunday = 7
df_combined['dayofweek'] = (df_combined['started_at'].dt.weekday + 1) % 7 + 1
df_combined

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,time_diff,dayofweek
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,651.0,7
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,509.0,3
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,794.0,2
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,526.0,1
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,919.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5754243,43ABEE85B6E15DCA,classic_bike,2022-12-05 06:51:04,2022-12-05 06:54:48,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member,224.0,2
5754244,F041C89A3D1F0270,electric_bike,2022-12-14 17:06:28,2022-12-14 17:19:27,Bernard St & Elston Ave,18016,Seeley Ave & Roscoe St,13144,41.949980,-87.714019,41.943403,-87.679618,member,779.0,4
5754245,A2BECB88430BE156,classic_bike,2022-12-08 16:27:47,2022-12-08 16:32:20,Wacker Dr & Washington St,KA1503000072,Green St & Madison St,TA1307000120,41.883143,-87.637242,41.881859,-87.649264,member,273.0,5
5754246,37B392960E566F58,classic_bike,2022-12-28 09:37:38,2022-12-28 09:41:34,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member,236.0,4
5754247,2DD1587210BA45AE,classic_bike,2022-12-09 00:27:25,2022-12-09 00:35:28,Southport Ave & Waveland Ave,13235,Seeley Ave & Roscoe St,13144,41.948150,-87.663940,41.943403,-87.679618,casual,483.0,6